body {
  margin-top: 10px;
  margin-left: 30px;
  /*padding: 10px;*/
  font-family: sans-serif;
}

.appHeader {
  text-align: left;
  font-size: 2em;
}

.appHeader h1 {
  margin-bottom: 5px;
}

.appHeader p {
  font-size: .5em;
}

.jobPostings {
  font-size: 1.5em;
}

.postNewJobForm {
  font-size: 1.5em;
}